/* Définir les styles globaux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Définir les styles des paragraphes */
p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

/* Définir les styles des titres de section */
h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 10px;
}

/* Définir les styles des boutons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* Définir les styles des images dans les boutons */
button img {
  vertical-align: middle;
  margin-right: 10px;
}

/* Définir les styles des liens */
a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

#woodcutting-popup {
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}